@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Neon&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* custom variables go here */

// color theming
$primary: #A22C29;
//$secondary: #8ECDDD;
$secondary: #A22C29;
$tertiary: #6D6E60;
$light: #FFF2EC;
$dark: #2C302E;
$danger: #A22C29;
$info: #41658A;
$success: #4F5D2F;

// icons
i {
	color: $primary;
	font-size: 3rem;
}

// font theming
$font-family-sans-serif: "Raleway";
$headings-font-family: "Tilt Neon";
$headings-font-weight: 700;
$headings-color: $primary;

// navbar 
$nav-pills-link-active-bg: $primary;

.nav-link{
    color: white !important;
}

// button theming
.btn-primary {
	color: white !important;
}

// form theming
:not(.search-button) {
	$btn-border-radius: 4em;
	$btn-padding-x: 3em;
	$btn-padding-y: .6em;
}

// table theming
$table-cell-padding-y: .5em;
table thead tr {
    font-family: "Nunito";
}
table thead tr th {
    font-size: 0.9rem;
    font-weight: 400;
    color: $primary;
}
table tbody tr td {
    font-size: 0.9rem !important;
    font-weight: 500;
}
.btn-no-border {
    border: none !important;
}
td > .btn-no-border {
    font-size: 0.9rem !important;
}

// card theming
//.col > .row > .card > .card-body > .card-text
.card-text {
	font-size: 2.8rem !important;
    font-weight: 500 !important;
}

/*/ functions & variables for merging map variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "altprimary": #1a1169,
    "altsecondary": #9d6ff3
);*/

// import local compiled bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';